// $red: red;
$blue: #0775B2;
$lightBrown: #3D342F;
$darkBrown: #0C0805;
$lightBlue: #68CEF6;
$blackish: #030200;
$red: #EB1E25;
$defaultBg: #BABABA;
body {
    background: $defaultBg linear-gradient(white, $defaultBg);
    height: 100vh;
    overflow-x: hidden;
}
img {
    width: 100%;
}
.topNav {
    display: none;
    background-color: lightblue;
    top: 40px;
    border-radius: 5px;
    padding-top: 10px;

    a {
        text-decoration: none;
        color: #000;
        cursor: grab;
        width: 100%;
    }
    li {
        list-style-type: none;
        padding-right: 20px;
        padding-bottom: 10px;
    }
}
a figure img {
    border-radius: 30px;
}
.allSection {
    padding-top: 15px;
    background: $defaultBg linear-gradient(white, $defaultBg, $blue 85%);
}

#noLeftBorder {
    border-left: none !important;
    background: $defaultBg radial-gradient($lightBrown, $darkBrown);
}
#noRightBorder {
    border-right: none !important;
    background: $defaultBg linear-gradient($lightBlue, $blackish, $red);
}
.labelHeading {
    min-width: 120px;
    min-height: 120px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;    
}
.allLH {
    background-image: url('../imgs/heroesLabel.png');
    top: 80px;
    left: 28px;
}
.dcLH {
    background-image: url('../imgs/dcLabel.png');
    top: 115px;
    left: 24px;
}
.marvelLH {
    background-image: url('../imgs/marvelLabel.png');
    top: 115px;
    left: 20px;
}

footer nav ul {
    padding: 0;
    margin: 0;
    li{
        list-style-type: none;
        a {
        text-decoration: none;
        color: black;
        }
    }
}