@import url("https://fonts.googleapis.com/css2?family=Jaro&family=Jersey+10&family=Danfo&family=Platypi&display=swap");
body {
  height: 100vh;
  overflow-x: hidden;
  background: #BABABA url("../logos/aquaman-logo.jpg") repeat fixed center;
}

img {
  width: 100%;
}

.topNav {
  display: none;
  background-color: lightblue;
  top: 40px;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 10px;
  z-index: 10;
  position: absolute;
}
.topNav a {
  text-decoration: none;
  color: ivory;
  cursor: grab;
  width: 100%;
}
.topNav li {
  list-style-type: none;
  padding-right: 20px;
  padding-bottom: 10px;
  text-shadow: 2px 2px 2px darkblue;
  font-family: "Jaro", sans-serif;
}

a figure img {
  border-radius: 30px;
}

.allSection {
  padding-top: 35px;
  padding-bottom: 20px;
  background: #BABABA linear-gradient(white, #BABABA, #0775B2 85%);
  border-top: solid 1px black;
}

#noLeftBorder {
  border-left: none !important;
  background: #BABABA radial-gradient(#3D342F, #0C0805);
  padding-bottom: 4rem;
}

#noRightBorder {
  border-right: none !important;
  background: #BABABA linear-gradient(#68CEF6, #030200, #EB1E25);
  padding-bottom: 4rem;
}

.labelHeading {
  min-width: 120px;
  min-height: 120px;
  width: 100%;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.allLH {
  background-image: url("../imgs/heroesLabel.png");
}

.dcLH {
  background-image: url("../imgs/dcLabel.png");
}

.marvelLH {
  background-image: url("../imgs/marvelLabel.png");
}

.heroImgs {
  height: 80%;
  padding-bottom: 10px;
}

.heading {
  font-family: "Danfo", serif;
  text-shadow: 2px 2px 2px lightskyblue;
}

.heroLinks {
  text-decoration: none;
}

.dcHeroNames {
  font-family: "Jaro", sans-serif;
  font-size: large;
  text-shadow: 1px 1px #0775B2;
  color: #0C0805;
}

.marvelHeroNames {
  font-family: "Platypi", serif;
  font-weight: 900;
  font-size: medium;
  text-shadow: 1px 1px #EB1E25;
  color: #030200;
}

.tbBorders {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.heroImg {
  border-radius: 10px;
  border: 2px inset black;
}

#heroId {
  max-height: 400px;
}

.heroHeading {
  background-color: rgba(186, 186, 186, 0.7333333333);
  padding: 10px;
}

#bioText {
  max-height: 345px;
}

.infoTitles {
  background-color: rgba(186, 186, 186, 0.7333333333);
  padding-bottom: 5px;
  margin-bottom: 0;
  text-decoration: underline;
  padding-left: 8px;
  font-size: bolder;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Jaro", sans-serif;
  text-align: center;
}

.infoText {
  min-height: 265px;
  max-height: 400px;
  background-color: rgba(186, 186, 186, 0.7333333333);
  color: black;
  padding: 2px 8px 8px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Platypi", serif;
}

.skillsText {
  height: 100px;
  padding: 0px 5px 0px 30px;
}

.bgColors {
  background-color: rgba(186, 186, 186, 0.7333333333);
  border-radius: 10px;
  padding-bottom: 20px;
}

.groupImg {
  width: 90%;
}

footer nav ul {
  padding: 0;
  margin: 0;
}
footer nav ul li {
  list-style-type: none;
}
footer nav ul li a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 2px lightskyblue;
  font-family: "Jaro", sans-serif;
}

@media screen and (min-width: 768px) {
  #menuIcon {
    display: none;
  }
  .topNav {
    display: block;
    position: relative;
    width: 100%;
    background-color: rgba(186, 186, 186, 0.7333333333);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .topNav li {
    display: inline-flex;
  }
  .topNav li a {
    color: black;
    text-shadow: 2px 2px 2px lightskyblue;
  }
  .tbBorders {
    border: none;
  }
}/*# sourceMappingURL=styles.css.map */