@import url("https://fonts.googleapis.com/css2?family=Jaro:ital,wght@0,400;0,700;1,400&display=swap");

// $red: red;
$blue: #0775B2;
$lightBrown: #3D342F;
$darkBrown: #0C0805;
$lightBlue: #68CEF6;
$blackish: #030200;
$red: #EB1E25;
$defaultBg: #BABABA;
body {
    background: $defaultBg linear-gradient(white, $defaultBg);
    height: 100vh;
    overflow-x: hidden;
}
img {
    width: 100%;
}
.topNav {
    display: none;
    background-color: lightblue;
    top: 40px;
    border-radius: 5px;
    padding-top: 10px;
    z-index: 10;
    position: absolute;

    a {
        text-decoration: none;
        color: ivory;
        cursor: grab;
        width: 100%;
    }
    li {
        list-style-type: none;
        padding-right: 20px;
        padding-bottom: 10px;
        text-shadow: 2px 2px 2px darkblue;
        font-family: 'Jaro', sans-serif;
    }
}
a figure img {
    border-radius: 30px;
}
.allSection {
    padding-top: 35px;
    padding-bottom: 20px;
    background: $defaultBg linear-gradient(white, $defaultBg, $blue 85%);
    border-top: solid 1px black;
}

#noLeftBorder {
    border-left: none !important;
    background: $defaultBg radial-gradient($lightBrown, $darkBrown);
    padding-bottom: 4rem;
}
#noRightBorder {
    border-right: none !important;
    background: $defaultBg linear-gradient($lightBlue, $blackish, $red);
    padding-bottom: 4rem;
}
.labelHeading {
    min-width: 120px;
    min-height: 120px;
    width: 100%;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;    
}
.allLH {
    background-image: url('../imgs/heroesLabel.png');
}
.dcLH {
    background-image: url('../imgs/dcLabel.png');
}
.marvelLH {
    background-image: url('../imgs/marvelLabel.png');
}

footer nav ul {
    padding: 0;
    margin: 0;
    li{
        list-style-type: none;
        a {
        text-decoration: none;
        color: black;
        text-shadow: 2px 2px 2px lightskyblue;        
        font-family: 'Jaro', sans-serif;
        }
    }
}

@media screen and (min-width: 768px) {
    #menuIcon {
        display: none;
    }
    .topNav {
        display: block;
        position: relative;
        width: 100%;
        background-color: transparent;
        li {
            display: inline-flex;
            a {                
                color: black;
                text-shadow: 2px 2px 2px lightskyblue;   
            }
        }
    }
}